@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BODY */
body{
    background: rgba(40, 44, 52, .9);
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTAINER */
.container{
    width: 90%;
    border: 3px solid #61dafb;
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HEADER, MAIN*/
header, main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: #ffffff;
}

/* paragraphe */
p{
    max-width: 90%;
    margin: 3px;
}

/* liste à puces et/ou numérotées */
ul, ol{
    max-width: 75%;
    margin: 3px;
}

/* span bleuReact */
.bleuReact{
    color: #61dafb;
    letter-spacing: 0.01em;
}

/* span vertGrafikart */
.vertGrafikart{
    font-weight: bold;
    color: #9ece6a;
}

/* H1 */
h1{
    font-family: 'Lobster', sans-serif;
    padding: 30px;
    font-size: 33px;
}

/* images links */
.imgLinks{
    display: flex;
}

.p_img-React-links a, .p_img-Grafikart-links a{
    display: flex;
    flex-direction: column;
    margin: 15px;
    color: #c7c7c7;
}

.p_img-React-links a span{
    color: #fff;
    margin-left: 2px;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.p_img-React-links a span:hover{
    color: #61dafb;
}

.p_img-Grafikart-links a span{
    color: #fff;
    margin-left: -15px;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.p_img-Grafikart-links a span:hover{
    color: #9ece6a;
}

.p_img-React-links a span:active, .p_img-Grafikart-links a span:active{
    color: #fff;
    transition: none;
}

.p_img-React-links img, .p_img-Grafikart-links img{
    width: 50px;
    height: 50px;
}

/* Class générale H2 */
.orangeChapitre{
    color: #FFA500;
}

/* H2 */
h2{
    padding: 15px;
    font-size: 23px;
}

.textChap3{
    padding-left: 5px;
}

.JSdeJSX{
    padding-left: 5px;
    color:  #c7c7c7;
}

.XdeJSX{
    color: #A80808;
}

.babelLink{
    color: #fff;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.babelLink:hover{
    color: #f5da55;
}

.babelLink:active{
    transition: none;
    color: #fff;
}

/** INDEX.JS **/

/* Aside JAVASCRIPT */
.cas_pratique-1 p{
    width: 200px;
    display: flex;
}

.cas_pratique-1 p span{
    margin-left: 5px;
}

/* Aside JSX */
.section-jsx{
    display: flex;
}

.section-jsx ul{
    margin-left: 30px;
}