@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: rgba(40, 44, 52, .9);
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTAINER */
.container{
    width: 90%;
    border: 3px solid #61dafb;
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HEADER, MAIN*/
header, main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: #ffffff;
}

/* paragraphe */
p{
    margin: 3px;
}

/* GRASCOLOR */
.grasColor{
    font-weight: bold;
    color: #fb61e1;
}

/* H1 */
h1{
    font-family: 'Lobster', sans-serif;
    padding: 30px;
    font-size: 29px;
}

.reactLinkH1{
    color: #61dafb;
    letter-spacing: 0.01em;
    text-decoration: none;
}

.reactLinkH1:hover{
    text-decoration: underline;
}

.grafikartLinkH1{
    color: #ffffff;
    text-decoration: none;
}

.grafikartLinkH1:hover{
    text-decoration: underline;
}

/* Class générale H2 */
.orangeChapitre{
    color: #FFA500;
}

/* H2 */
h2{
    padding: 15px;
    font-size: 23px;
}

.bleuReact{
    color: #61dafb;
    letter-spacing: 0.01em;
}

.textChap3{
    padding-left: 5px;
}

.JSdeJSX{
    padding-left: 5px;
    color:  #c7c7c7;
}

.XdeJSX{
    color: #A80808;
}