@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    color: #ffffff;
    background: #282c34;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* H1 */
h1{
    font-family: 'Lobster', sans-serif;
    padding: 30px;
    font-size: 29px;
}

.reactLinkH1{
    color: #61dafb;
    letter-spacing: 0.01em;
    text-decoration: none;
}

.reactLinkH1:hover{
    text-decoration: underline;
}

.grafikartLinkH1{
    color: #ffffff;
    text-decoration: none;
}

.grafikartLinkH1:hover{
    text-decoration: underline;
}

/* Class générale H2 */
.orangeChapitre{
    color: #FFA500;
}

/* H2 */
h2{
    padding: 15px;
    font-size: 23px;
}

.bleuReact{
    color: #61dafb;
    letter-spacing: 0.01em;
}

.h2JSX{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textChap3{
    padding-left: 5px;
}

.JSdeJSX{
    padding-left: 5px;
    color:  #c7c7c7;
}

.XdeJSX{
    color: #A80808;
}